*{margin: 0;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#head{
    font-size: 1.3rem;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding-bottom:5px;
}

#formData{
    margin: 20px auto 0px auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 5);
    display: flex;
    flex-direction: column;
    position:absolute;
    gap: 10px;
    width: 50%;
    border-radius: 20px;
    left: 0;
    right: 0;

}
label{
    font-weight: bold;
    

}
input{
    width: 60%;
    height: 30px;
    border-radius: 7px;
}
select{
    width: 100px;
    height: 30px;
}
input:nth-of-type(6){
width: 30%;
}
input:nth-of-type(5){
width: 30%;
}
input:nth-of-type(3){
width: 30%;
}

.btn{
display:flex;flex-direction: row;
margin: 30px 30px 0 0 ;
width:  350px;
height: 30px;
font-size: 15px;
border: none;
border-radius: 10px;
color: rgb(255, 255, 255);
padding-left: 35px;
padding-top: 5px;
margin: 5px;


}
.btn:hover{
    font-weight: bold;
}
#btn-back{
    background-color: rgb(255, 213, 0);

}
#btn-reset{
    background-color: rgb(255, 0, 0);

}
#btn-submit{
    background-color: aqua;

}