*{margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#head{
    font-size: 1.3rem;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding-bottom:5px;
}

#formData{
    margin: 20px auto 0px auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 5);
    display: flex;
    flex-direction: column;
    position:absolute;
    gap: 10px;
    width: 50%;
    border-radius: 20px;
    left: 0;
    right: 0;

}
label{
    font-weight: bold;
    

}
input{
    width: 70%;
    height: 30px;
    border-radius: 7px;
}
select{
    width: 50px;
    height: 30px;
}