*{
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
    
    

}
#mainTopic{
font-weight: bold;
color: rgb(255, 18, 18);

}

#outerMain{
    
    display: flex;
    flex-direction: column;
}
#leftPannel{
    width: 50%;
    height: 100vh;
    padding: 25px;
    border: 2px solid black;
}

#rightPannel{
    width: 50%;
    height: 100vh;
    padding: 25px;
    position: absolute;
    left: 50%;
    border: 2px solid black;
    
}
footer{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100vw;
    height: 30px;
    align-items: center;
    background-color: rgb(0, 123, 154);
    justify-content: space-around;
}
footer span{
    padding: 10px;
}
#introd{
    font-weight: bolder;
    padding-bottom: 5px;
    
}
p{text-align: justify;}
table{
    width: 55%;
    text-align: center;
}
#a{
    display:flex;
    flex-direction:row; 
    justify-content:space-between; 
    position: relative;
    
    
}
#a > button{
    
    height: 30px;
    border-radius: 10px;
    font-size: 1rem;
    border: transparent;
    
}
#a  > button:hover{
    font-size: 1.2rem;
    cursor:pointer;
}

#reg {
    border: 1px blue;
    width: 55%;
    color: red;
    border: 1px solid red;
     background: #817aff;
    background: linear-gradient(100deg, rgba(2, 0, 36, 1) 0%, rgba(28, 213, 255, 1) 29%, rgba(0, 212, 255, 1) 100%);
}


#footerCont a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#footerCont a:hover{
    text-decoration: underline;
}

#b{
    width: 20%;
    background: #817aff;
    
    
}
#c{
    width: 20%;
    background: #817aff;
}